* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.body-container {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

.main-content-container {
  display: flex;
  width: 91%;
  margin: auto;
  background-color: whitesmoke;
}

.sidebar-container {
  width: 220px;
  height: 100%;
  background-color: aquamarine;
}

.my-initial {
  display: flex;
  width: 100%;
  height: 152px;
  font-size: 100px;
  align-items: center;
  border-bottom: cornflowerblue solid 3px;
}

.my-initial-container {
  margin: auto;
}

.side-bar {
  width: 100%;
}

.menu {
  padding-top: 92px;
  text-align: center;
}

.menu-item-container {
  margin-bottom: 38px;
}

.menu-item:hover {
  padding-bottom: 5px;
  border-bottom: cornflowerblue solid 2px;
}

.contact-me {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-top: cornflowerblue solid 3px;
  border-bottom: cornflowerblue solid 3px;
}

.social-link-buttons-container {
  height: 30px;
  margin-top: 26px;
}

.social-link-buttons {
  display: flex;
  width: 134px;
  margin: auto;
}

.link-button {
  display: inline-flex;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 5px;
}

.link-icon {
  width: 20px;
  height: 20px;
}

.link-icon img {
  width: 100%;
  height: 100%;
}

.portfolio-container {
  width: 100%;
  height: 100%;
  background-color: orchid;
  border-left: cornflowerblue solid 3px;
}

.portfolio-image-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: orchid;
}

.portfolio-image {
  position: relative;
  width: 100%;
}

.portfolio-image img {
  width: 100%;
  height: 750px;
}

.portfolio-content {
  width: 100%;
  height: 750px;
  padding-top: 250px;
  position: absolute;
  top: 0px;
}

.portfolio-content-heading, .portfolio-content-paragraph {
  font-size: 40px;
  text-align: center;
}

.top-scroll-container {
  width: 100%;
  margin-top: 110px;
}

.top-scroll-text {
  height: 100px;
  text-align: center;
  font-size: 20px;
}

.top-scroll-icon {
  width: 32px;
  height: 32px;
  margin: auto;
}

.top-scroll-icon img {
  width: 100%;
  height: 100%;
}

.column-spacer {
  margin-left: auto;
  margin-right: auto;
}

.web-projects-container {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  background-color: red;
}

.web-projects-container {
  display: flex;
  width: 92%;
  height: 500px;
  margin: auto;
}

.web-projects-content span {
  font-size: 40px;
  font-weight: bold;
}

.web-project-image {
  width: 450px;
  height: 320px;
  margin-bottom: 20px;
  background-color: goldenrod;
  border: black solid 1px;
}

.web-project-image img {
  width: 100%;
  height: 100%;
}

.contact-container {
  height: 100%;
  margin-top: 250px;
  background-color: blue;
}

.contact-section {
  display: flex;
}

.contact-information {
  width: 320px;
  margin-left: 60px;
  margin-right: 50px;
  background-color: bisque;
}

.contact-form {
  width: 960px;
  margin-left: 50px;
  background-color: whitesmoke;
}

input, textarea {
  background-color: silver;
  border: none;
}

.name {
  display: flex;
}

.first-name {
  width: 470px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 12px;
  background-color: silver;
  border-radius: 5px;
}

.last-name {
  width: 470px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 12px;
  background-color: silver;
  border-radius: 5px;
}

.email {
  margin-bottom: 15px;
  padding: 12px;
  background-color: silver;
  border-radius: 5px;
}

.subject {
  margin-bottom: 15px;
  padding: 10px;
  background-color: silver;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 8px;
  padding: 10px;
  background-color: silver;
  border-radius: 5px;
}

.submit-button {
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
}

.bottom-scroll {
  width: 100%;
  height: 100px;
  margin-top: 150px;
  text-align: center;
  font-size: 20px;
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
