
*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: calc($base__line-height / $base__font-size);        // set our line height in em's 
}

.body-container
{
    width: 100%;
    height: 100%;
}

a
{
    text-decoration: none;
}

a:hover
{
    cursor: pointer;
}
